*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
html{
  font-size: 10px;
  font-family: 'Roboto Mono';
  color:var(--gray-1);
  background-color: var(--dark-bg);
}
a{
  text-decoration: none;
  color:inherit;
}
img,svg{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
button{
  outline: none;
}
:root{
  --dark-bg:#262626;
  --gray-1:#BCB4B4;
  --deep-dark:#1E1E1E;
  --gray-2:#363636;
  --white:white;
  --black:black;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul, li{
  list-style: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
